<div class="mainContainer">
    <h1>Sandbox Home</h1>
    <p>
        This is in 'div class="mainContainer"''. It is defined in
        <span class="spanFileBackground">styles.scss</span>,
        but overriden in <span class="spanFileBackground">home.component.scss</span>.
    </p>

    <p><a routerLink="/sandbox/us-state">/sandbox/us-state: Listing</a></p>
    <p><a routerLink="/sandbox/search-city">/sandbox/search-city: CityFilterPipe</a></p>
    <p><a routerLink="/sandbox/search-plant">/sandbox/search-plant: PlantFilterPipe</a></p>
    <p><a routerLink="/sandbox/search-state">/sandbox/search-stateity: search in component</a></p>

    <p><a routerLink="">routerLink home</a></p>

</div>