<div class="mainContainer">
    <h1>Sandbox Home</h1>
    <p>
        This is in 'div class="mainContainer"''. It is defined in
        <span class="spanFileBackground">styles.scss</span>, but overriden in
        <span class="spanFileBackground">home.component.scss</span>.
    </p>

    <div class="linkListingDiv">
        <h3>Item Listing: for testing around</h3>
        <p><a routerLink="/sandbox/us-state">/sandbox/us-state: Listing</a></p>
        <p><a routerLink="/sandbox/fa-test">/sandbox/fa-test: Fontawesome Test</a></p>

        <h3>Searching</h3>
        <p><a routerLink="/sandbox/search-city">/sandbox/search-city: CityFilterPipe</a></p>
        <p><a routerLink="/sandbox/search-plant">/sandbox/search-plant: PlantFilterPipe</a></p>
        <p>
            <a routerLink="/sandbox/search-state">/sandbox/search-stateity: search in component</a>
        </p>

        <h3>Caching API call in serivce and refreshing</h3>
        <p>
            <a routerLink="/sandbox/nba-player">/sandbox/nba-player: Cache with Forced Refresh</a>
        </p>
        <p>
            <a routerLink="/sandbox/swapi"
                >/sandbox/swapi: Cache with Auto Refresh, NOT working so well</a
            >
        </p>
        <p>
            <a routerLink="/sandbox/option-item"
                >/sandbox/option-item: Cache with Auto Refresh, WORKING WELL!</a
            >
        </p>
    </div>
    <hr />
    <p><a routerLink="">routerLink home</a></p>
</div>
