.backDiv {
    // border: 1px solid red;
    padding: 10px 0 10px 0;
    text-decoration: underline;
}
.backDiv:hover {
    cursor: pointer;
}

.faIconAngleLeft {
    // width: 20px;
    // background: yellow;
    // padding: 10px, 10px, 10px, 20px;
    padding-right: 10px;
}
