<div class="mainContainer">
    <h2>US States</h2>
    <p><a routerLink="/sandbox/home"><fa-icon [icon]="faAngleLeft" class="faIconAngleLeft"></fa-icon>Back to Sandbox Home</a></p>
    <!-- <div>items: {{ usStates$ | async | json }}</div> -->
    <!-- <div *ngFor="let state of usStates$  | async">
        {{ state.id }} - {{ state.stateName }}
    </div> -->

    <!-- <div>items: {{ usCities$ | async | json }}</div> -->
    <div *ngFor="let city of usCities$  | async">
        {{ city.id }} - {{ city.cityName }} - {{ city.inStateName }}
    </div>
</div>