<div class="mainContainer">
    <h1>Example Home</h1>
    <p>
        This is in 'div class="mainContainer"''. It is defined in
        <span class="spanFileBackground">styles.scss</span>,
        but overriden in <span class="spanFileBackground">home.component.scss</span>.
    </p>

    <div class="linkListingDiv">
        <h3>Item Listing: for testing around</h3>
        <p><a routerLink="/example/login">/example/login: Login Page</a></p>
    </div>


    <hr>

    <p><a routerLink="">routerLink home</a></p>

</div>