<div class="mainContainer">
  <app-back-angle [linkText]="linkText" [routerLinkInput]="routerLinkInput"></app-back-angle>

  <div class="container">
    <div class="wrapper">
      <div class="title"><span>Sign In</span></div>

      <p class="needaccount">
        <a [routerLink]="['/register']">Need an account?</a>
      </p>

      <div class="authError">
        <mc-backend-error-messages
          *ngIf="backendErrors$ | async"
          [backendErrors]="backendErrors$ | async"
        >
        </mc-backend-error-messages>
      </div>

      <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
        <fieldset class="form-field-set">
          <div class="form-group-row">
            <i><fa-icon icon="envelope"></fa-icon></i>
            <input type="text" placeholder="Email" formControlName="email" />

            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">Email is required</div>
            </div>

            <!-- <div
              *ngIf="
              loginFormGroup.controls['email'].errors?.['required'] &&
              loginFormGroup.controls['email'].errors?.['touched']
              "
            >
              Email is required
            </div>
            <div
              *ngIf="
              loginFormGroup.controls['email'].errors?.['Pattern'] &&
              loginFormGroup.controls['email'].errors?.['touched']
              "
            >
              Invalid Pattern
            </div> -->
          </div>
        </fieldset>
        <fieldset class="form-field-set">
          <div class="form-group-row">
            <i><fa-icon icon="lock"></fa-icon></i>
            <input type="password" placeholder="Password" formControlName="password" />
          </div>
        </fieldset>
        <fieldset class="form-field-set">
          <div class="form-group-row login-button">
            <input type="submit" value="Login" [disabled]="isSubmitting$ | async" />
          </div>
        </fieldset>
        <!-- <button type="submit" [disabled]="isSubmitting$ | async">Sign in</button> -->
      </form>
    </div>
  </div>

  <hr />
  <p><a routerLink="">routerLink home</a></p>
</div>
