.navbar-fix-place-holder {
  // border: 1px solid red;
  position: relative;
  height: var(--nav-height);
  z-index: -1000;
}

// .mainContainer {
//   position: relative;
//   top: calc(var(--nav-height) + 10px);

//   padding-top: 20px; // for demo
//   border: 1px solid red;
//   height: 200vh;
// }


