/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  // font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

/* Global Variables */
:root {
  --primary-color: rgba(0, 214, 170, .85);
  --hamburger-margin-left: 1em;
  --nav-item-margin-bottom: 1em;
  --nav-a-font-size: 1.2rem;
  --nav-height: 4em;
}

.mainContainer {
  position: relative;
  padding: 5px;
  
  // top: calc(var(--nav-height) + 10px);
  // top: 20px;
  // padding-top: 20px; // for demo
  // border: 1px solid red;
  // height: 200vh;
}

table, th, td {
  text-align: left;
  width: 100%;
  border: 1px solid blue;
  border-collapse: collapse;
}

th,
td {
width: 100px;
overflow: hidden;
}

tr:hover {background-color: coral;}


.five {
width: 5%;
// background: tomato;
}
.ten {
width: 10%;
// background: turquoise
}

