.mainContainer {
    padding-top: 10px; // for demo

    p {
        font-family: "Poppins", sans-serif;
        padding: 10px;
    }

    .spanFileBackground {
        width: 100%;
        background-color: var(--primary-color);
    }
}

::ng-deep .highlighted-text {
    background-color: yellow;
}