<div class="header-div">
  <a routerLink="" class="logo">LOGO</a>

  <input type="checkbox" id="menu-bar">
  <label for="menu-bar">Menu</label>

  <nav class="navbar">
    <ul>
      <li><a routerLink="/home">Home
          <span class="badge-num">
            0
          </span>
        </a></li>
      <!-- <li><a routerLink="/example/home">Example</a></li>
      <li><a routerLink="/sandbox/home">Sandbox</a></li> -->
      <li>
        <a>
          GOTO
          <fa-icon [icon]="faAngleDown"></fa-icon>
        </a>
        <ul>
          <li><a routerLink="example/search-city">Search City Filter</a></li>
          <li><a routerLink="example/search-plant">Search Plant Filter</a></li>
          <li><a routerLink="example/us-state">US States</a></li>
          <li><a routerLink="example/search-state">Search US States</a></li>
        </ul>
      </li>

    </ul>
  </nav>
</div>