* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

.header-div {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
  }

  .navbar {
    ul {
      list-style: none;

      li {
        position: relative;
        float: left;

        a {
          font-size: 20px;
          padding: 20px;
          color: #333;
          display: block;
        }

        a:hover {
          background: #333;
          color: #ffffff;
        }

        ul {
          position: absolute;
          left: 0;
          width: 200px;
          background: #fff;
          display: none;

          li {
            width: 100%;
            border-top: 1px solid rgba(0, 0, 0, .1);

            a {
              font-size: 16px;
              padding: 10px;
              display: block;
            }

            ul {
              left: 200px;
              top: 0
            }
          }
        }
      }
    }
  }
}

// focus-within working with one click first, then the menu stay
// .header-div .navbar ul li:focus-within>ul,
.header-div .navbar ul li:hover>ul {
  display: initial;
}

#menu-bar {
  border: 1px solid red;
  display: none;
}

.header-div label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}

// Smaller screen
@media(max-width: 830px) {
  .header-div {
    padding: 20px;
  }

  .header-div label {
    display: initial;
  }

  .header-div .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, .1);
    display: none;
  }

  .header-div .navbar ul li {
    width: 100%;
  }

  .header-div .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  .header-div .navbar ul li ul li {
    background: #eee;
  }

  .header-div .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }

  #menu-bar:checked~.navbar {
    display: initial;
  }
}